* {
    margin: 0;
    padding: 0;
}

html, body {
    min-height: 100%;
    height: 100%;
}

body {
    font-family: Arial, sans-serif;
    font-size: 14px;
    line-height: 1;
}

.touch-area {
    position: absolute;
    top: 0;
    left: 0;
    width: 60%;
    height: 100%;
    font-size: 50px;
    color: rgba(0,0,0,0.1);
    text-align: center;
}

.touch-results {
    position: absolute;
    top: 0;
    right: 0;
    width: 40%;
    height: 100%;
    display: inline-block;
    box-shadow: 0 0 20px rgba(0,0,0,0.5) inset;
    background: #eee;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
}

.touch-inner {
    padding: 20px;
    font-family: "courier new", serif;
    white-space: pre;
    font-size: 20px;
}